/* 
Author: Nabin Gaire
File Name: faq.css
Date: 2023-12-07
*/

.faq-section {
  text-align: center;
  margin: 30px 0 30px 0;
}

.faq-item {
  padding: 30px;
  background-color: #a3a4a4;
}


@media only screen and (min-width: 768px) {
  .faq-item {
    margin-left: 150px;
    margin-right: 100px;
    width: 80%;
  }
}



.faq-item:nth-child(even) {
  background-color: #6e80cc; 
}

.faq-item h3 {
  font-size: 25px;
}